asgiref==3.8.1
boto3==1.41.3
botocore==1.41.3
certifi==2025.11.12
charset-normalizer==3.4.4
clarifai-grpc==11.10.9
dj-database-url==3.0.1
Django==5.1.7
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-storages==1.14.6
django-user-agents==0.4.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
googleapis-common-protos==1.72.0
grpcio==1.76.0
idna==3.11
jmespath==1.0.1
pillow==11.1.0
protobuf==6.33.1
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
requests==2.32.5
s3transfer==0.15.0
six==1.16.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==1.26.7
user-agents==2.2.0
whitenoise==5.3.0
